html.purple-mode {
  color-scheme: purple;
  --el-component-size: 32px;
  --el-color-white: #ffffff;
  --el-color-black: #000000;
  --el-color-primary: #52008f;
  --el-color-primary-light-3: #864db1;
  --el-color-primary-light-5: #a980c7;
  --el-color-primary-light-7: #cbb3dd;
  --el-color-primary-light-8: #dccce9;
  --el-color-primary-light-9: #eee6f4;
  --el-color-primary-dark-2: #420072;
}
