@use './variables.scss' as *;
.block {
  width: 100%;
  max-height: 300px;
  padding: $maxPadding 0;
  box-sizing: border-box;
  display: flex;
  &-left {
    width: 180px;
    flex-shrink: 0;
    padding-right: $mainPadding;
    border-right: 1px solid $mainBorderColor;
    box-sizing: border-box;
    &-group {
      width: 100%;
      height: 32px;
      padding: 0 $minPadding;
      border-radius: $mainBorderRadius;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      span {
        width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
        color: $mainContentText !important;
      }
    }
  }
  &-right {
    flex: 1;
    padding-left: $mainPadding;
    box-sizing: border-box;
  }
}
