.common-filter {
  margin-left: 16px;
  :deep(.el-select) {
    width: 100%;
    --el-select-border-color-hover: : #ffffff !important;
  }
  :deep(.el-select__input) {
    margin: 0px !important;
    width: 100%;
  }
  :deep(.el-select__wrapper) {
    padding: 0px;
    border: 0px solid #ffffff;
    margin: 0px !important;
    width: 100%;
    display: flex;
    align-items: center;
    line-height: 32px;
    span {
      display: flex;
      height: 100%;
      align-items: center;
    }
  }
  :deep(.el-date-editor--daterange) {
    padding: 0px;
    width: 100%;
  }
  :deep(.el-date-editor.el-input__wrapper),
  :deep(.el-select .el-select__wrapper) {
    box-shadow: 0 0 0 0px #ffffff;
  }
  :deep(.el-form-item__content) {
    div {
      display: flex;
      align-items: center;
    }
  }
}
