@use './variables.scss' as *;
/*表格配置*/
.el-table__body tr:hover > td {
  background-color: $cellHover !important;
}
.el-table {
  --el-table-border-color: #ffffff !important;
  // --el-table-border:0px solid #ffffff !important;
  border-bottom: 1px solid $mainBorderColor !important;
  .el-table__header thead tr th {
    height: 34px !important;
    font-size: 12px !important;
    font-weight: 500;
    color: $mainContentText !important;
    background-color: #f3f5f8 !important;
    border: none !important;
  }
  .el-table__body td {
    border-bottom: 1px solid $mainBorderColor !important;
    border-right: none !important;
  }
  .el-table__body {
    .el-table__row {
      height: 40px !important;
      font-size: 12px !important;
      color: $mainContentText !important;
    }
  }
}

.el-table .el-button,
.el-table .el-dropdown .el-dropdown-link {
  font-size: 12px !important;
}
.el-table .el-text {
  font-size: 12px !important;
}
/*------------------------------------------------------------------------------------*/

.el-tooltip__popper {
  max-width: 500px !important;
}
/*------------------------------------------------------------------------------------*/
/* 抽屉 样式修改*/

.commonDrawer {
  .el-drawer__header {
    height: 54px;
    border-bottom: 1px solid $mainBorderColor;
  }
}
.el-drawer__body {
  padding: 10px 18px 10px 24px !important;
}
.el-drawer__body .el-form-item {
  flex-direction: column;
}
.el-drawer__header {
  padding-top: 0px !important;
  margin-bottom: 0px !important;
  color: $mainContentText !important;
}
.el-drawer__close-btn {
  padding-right: 0px;
}
.el-drawer__close-btn .el-icon {
  color: $mainIconColor !important;
  border-color: $mainIconColor !important;

  :hover {
    color: $mainIconColor !important;
    border-color: $mainIconColor !important;
  }
}
.el-drawer__footer {
  box-shadow: 0px -2px 12px 0px rgba(22, 32, 49, 0.09);
  padding-top: 14px !important;
  padding-bottom: 10px !important;
}

/* 弹框样式调整*/
.el-overlay-dialog {
  display: flex;
  align-items: center;
}
.commonPopWin {
  padding: 0px !important;
  min-width: 1000px !important;
  .el-form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    padding: 0px 10px !important;
    .el-form-item__label {
      font-size: 12px !important;
    }
    .el-input__wrapper {
      min-height: 34px !important;
    }
  }
}
.longWidhtPopWin {
  width: 90% !important;
  height: 610px !important;
  .el-form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    padding: 0px 10px !important;
    .el-form-item__label {
      font-size: 12px !important;
    }
    .el-input__wrapper {
      min-height: 34px !important;
    }
  }
}
.el-dialog__header {
  padding: 14px !important;
  text-align: left !important;
  height: auto !important;
  .el-dialog__title {
    color: $mainContentText !important;
    font-size: 16px !important;
    font-weight: 500 !important;
  }
}
.el-dialog__headerbtn {
  top: 0px !important;
  .el-dialog__close {
    color: #696e7b !important;
    font-weight: bold;
  }
}
.el-dialog .el-dialog__footer {
  margin-top: 10px !important;
}
.el-dialog {
  padding: 0px !important;
}
