@import '@/style/variables.scss';
/*表格配置*/
.el-table__body tr:hover > td {
  background-color: $cellHover !important;
}
.el-table {
  --el-table-border-color: transparent !important;
  border-bottom: 1px solid $mainBorderColor !important;
  .el-table__header thead tr th {
    height: 34px !important;
    font-size: 12px !important;
    font-weight: 500;
    color: rgb(18, 23, 31) !important;
    background-color: #f3f5f8 !important;
    border:none !important;
  }
  .el-table__body td {
    border-right: none !important;
    border-bottom: 1px solid $mainBorderColor !important;
  }
  .el-table__body {
    .el-table__row {
      height: 40px !important;
      font-size: 12px !important;
      color: rgb(18, 23, 31) !important;
    }
  }
}

.el-table .el-button,
.el-table .el-dropdown .el-dropdown-link {
  font-size: 12px !important;
}
.el-table .el-text {
  font-size: 12px !important;
}
/*------------------------------------------------------------------------------------*/

.el-tooltip__popper {
  max-width: 500px !important;
}
/* 弹框样式调整*/
.el-overlay-dialog {
  display: flex;
  align-items: center;
}
.commonPopWin {
  width: 1000px !important;
  height: 610px !important;
  .el-form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    padding: 0px 10px !important;
    .el-form-item__label {
      font-size: 12px !important;
    }
    .el-input__wrapper {
      min-height: 34px !important;
    }
  }
}
.el-dialog__header {
  padding: 14px !important;
  text-align: left !important;
  height: auto !important;
  .el-dialog__title {
    color: $mainContentText !important;
    font-size: 16px !important;
    font-weight: 500 !important;
  }
}
.el-dialog__headerbtn {
  top: 0px !important;
  .el-dialog__close {
    color: #696e7b !important;
    font-weight: bold;
  }
}
.el-dialog__body {
  padding: 20px 20px 0px 20px !important ;
}
// .el-dialog .el-dialog__footer {
//   margin-top: 10px !important;
// }

/* 提示弹框 头样式修改 */
.el-message-box__header {
  .el-el-message-box__title {
    color: $mainContentText !important;
    font-size: 16px !important;
    font-weight: 500 !important;
  }
  .el-message-box__headerbtn .el-message-box__close {
    color: $mainContentText !important;
  }
}

/** cascader  级联选择器样式修改*/
.el-cascader-node__label {
  max-width: 300px !important;
}
.el-cascader .el-cascader__tags .el-tag {
  max-width: 200px;
}
/* tree 样式修改*/
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: $mainHover !important;
  color: $primary-color !important;
  border-radius: $mainBorderRadius !important;
}
.el-tree-node .el-tree-node__content:hover {
  background-color: $mainHover !important;
  border-radius: $mainBorderRadius !important;
}
.el-tree-node__content .el-tree-node__label {
  color: $mainContentText;
}
.el-tree .el-tree-node__expand-icon .expanded {
  -webkit-transform: rotate(0deg);
  transform: rotate(90deg);
}

/* 有子节点 且未展开 */
.el-tree .el-tree-node.is-focusable .el-tree-node__expand-icon {
  & > svg {
    display: none;
  }
  &:before {
    background: url('../assets/images/common/dropDown.svg') no-repeat 0 3px;
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    font-size: 14px;
    background-size: 14px;
    transform: rotate(-90deg);
    background-position: center;
  }
}

/* 有子节点 且已展开 */
.el-tree .is-expanded .el-tree-node__expand-icon.expanded:before {
  background: url('../assets/images/common/dropDown.svg') no-repeat 0 3px;
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  font-size: 14px;
  background-size: 14px;
  background-position: center;
}

.tree-node-expand {
  margin: 0px 10px;
}

/* 页面中圆角处理 */
.el-button,
.el-input__wrapper,
.el-select .el-select__wrapper,
.el-textarea__inner {
  border-radius: $mainBorderRadius !important;
}

/*message弹框样式修改*/
.el-message-box .el-message-box__header .el-message-box__title {
  font-size: $fs-16 !important;
  color: $mainContentText;
}

/* 抽屉 样式修改*/
.commonDrawer {
  .el-drawer__header {
    height: 54px;
    border-bottom: 1px solid $mainBorderColor;
  }
}
.el-drawer__body {
  padding: 10px 18px 10px 24px !important;
}
.el-drawer__body .el-form-item {
  flex-direction: column;
}
.el-drawer__header {
  padding-top: 0px !important;
  margin-bottom: 0px !important;
  color: $mainContentText !important;
}
.el-drawer__close-btn .el-icon {
  color: $mainIconColor !important;
  border-color: $mainIconColor !important;
  :hover {
    color: $mainIconColor !important;
    border-color: $mainIconColor !important;
  }
}
.el-drawer__footer {
  box-shadow: 0px -2px 12px 0px rgba(22, 32, 49, 0.09);
  padding-top: 14px !important;
  padding-bottom: 10px !important;
}

/* 下拉菜单样式调整*/
.dropDownStyleTree .el-dropdown-menu {
  padding: 14px 10px;
  display: grid;
}

.dropDownStyleTree .el-dropdown-menu .el-dropdown-menu__item {
  color: $mainContentText;
  display: block;
  text-align: center;
  height: 22px;
}
.dropDownStyleTree .el-dropdown-menu .el-dropdown-menu__item:hover {
  background-color: $mainHover;
  border-radius: $mainBorderRadius;
  color: $mainContentText;
}

/*------------------------------------------------------------------------------------*/
/* 标签页颜色调整*/
.el-tabs {
  --el-tabs-header-height: 30px !important;
}
.el-tabs__header {
  margin: 0px 0px 20px;
}
.el-tabs__header .el-tabs__item {
  text-align: center;
  min-width: 80px;
}

/**/
// .el-menu-item,
// .el-sub-menu .el-sub-menu__title,
// .el-form-item .el-form-item__label,
// .el-button,
// .el-checkbox .el-checkbox__label {
//   color: $primary-menu-color;
// }
.el-tabs__nav-wrap:after {
  height: 1px !important;
  background-color: $mainBorderColor !important;
}
/*------------------------------------------------------------------------------------*/
