.formula-list {
  padding: 10px;
  height: 100%;
  width: 220px;
  border: 1px solid #d7d9dc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .treeContainer {
    margin-top: 10px;
    flex: 1;
  }
  .el-tree-node__content {
    height: 100%;
    padding: 6px 0;
    user-select: none;
  }

  .tip {
    font-size: 12px;
    color: #999;
    margin-top: 1px;
    line-height: 1.2;
  }
}
