.formula-editor {
  width: 100%;
  height: 100%;
  border: 1px solid #d7d9dc;
  border-radius: 4px;
  display: flex;

  &-left {
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  &-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    &[data-error='false'] {
      background-color: #f7f7f7;
    }
  }
  &-coder {
    height: 260px;
    flex-shrink: 0;
    position: relative;
  }
  &-error {
    padding: 0 6px;
    background-color: #faeeee;
    color: #8d3030;
    display: flex;
    height: 36px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 1px;
    &[data-error='false'] {
      background-color: #f7f7f7;
    }
  }
  &-use {
    padding-top: 10px;
    display: flex;
    flex: 1;
    overflow: hidden;
    .formula-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 10px;
      border: 1px solid #d7d9dc;
      border-left: none;
      box-sizing: border-box;
      .info-text {
        font-size: 12px;
        color: #6b7280;
        margin: 6px 0;
      }
    }
  }

  /*   .CodeMirror-hints {
    z-index: 30000 !important;
    background-color: #f0f0f0;
    color: #333;
    width: 130px;
    font-size: 14px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
  } */

  .cm-string {
    color: #f56c6c !important;
  }

  .cm-field {
    background: #aecef1;
    color: #2f7deb !important;
    border-radius: 2px;
    display: inline-block;
    font-size: 14px;
    margin: 2px;
    padding: 3px 5px;
  }
}
